[Unit]
Description=Run do_tts.py script
After=network.target

[Service]
Type=simple
User=grimlock
Group=grimlock
ExecStart=/bin/bash -c 'source /usr/etc/profile.d/conda.sh && conda activate tortoise && /home/grimlock/.conda/envs/tortoise/bin/python tortoise/do_tts.py'
WorkingDirectory=/deploy/ai-things/tortoise-tts/
Restart=always

[Install]
WantedBy=multi-user.target
