[Unit]
Description=Run do_tts.py script
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'source /usr/etc/profile.d/conda.sh && conda activate tortoise && /usr/bin/python3 /deploy/ai-things/tortoise-tts/tortoise/do_tts.py'
WorkingDirectory=/deploy/ai-things/tortoise-tts/tortoise/
Restart=always

[Install]
WantedBy=multi-user.target
