[Unit]
Description=Go Manager Command for Generating WAV files
After=network.target

[Service]
Type=simple
User=grimlock
Group=grimlock
WorkingDirectory=/deploy/ai-things/current
ExecStart=/usr/bin/bash -c "source /home/grimlock/miniforge3/etc/profile.d/conda.sh && conda activate speech && /deploy/ai-things/current/manager-go/manager job:GenerateWav --sleep=30"
Restart=always
RestartSec=3
SyslogIdentifier=generate_wav

[Install]
WantedBy=multi-user.target
