[Unit]
Description=Manages tortoise tts %I
After=network.target

[Service]
User=grimlock
Group=grimlock
Restart=always
EnvironmentFile=-/etc/ai-things/systemd.env
WorkingDirectory=/deploy/ai-things/current/tortoise-tts/tortoise/
ExecStart=/deploy/ai-things/current/deploy/systemd/run_with_uv.sh /deploy/ai-things/venvs/tortoise-tts/bin/python do_tts.py

[Install]
WantedBy=multi-user.target
