[Unit]
Description=Laravel Artisan Command for converting WAV to MP3
After=network.target

[Service]
Type=simple
User=grimlock
Group=grimlock
WorkingDirectory=/deploy/ai-things/current/manager
ExecStart=/usr/bin/php /deploy/ai-things/current/manager/artisan job:GenerateMp3 --sleep=30
Restart=always
RestartSec=3
SyslogIdentifier=convert_to_mp3

[Install]
WantedBy=multi-user.target
